header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.5rem;
    color: black;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    background: darkorchid;
}