#eye-icon {
    background: white;
    border: none;
}


h2,
img {
    text-align: center;
    color: white;
    font-weight: 10;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

h3 {
    text-align: center;
    /* // margin-top: -33px; */
    color: white;
}

.formgroup label {
    position: absolute;
    font-size: 0.8em;
    top: -1em;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    color: #888888;
    text-transform: uppercase;
}

.formgroup span {
    position: absolute;
    top: -1em;
    left: -500px;
    opacity: 0;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.formgroup input:focus+label {
    left: 500px;
    opacity: 0;
}

.formgroup input:focus~span {
    left: 0;
    opacity: 1;
}

.forgot {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-top: 21px;
    opacity: 0.8;
}

#login-btn {
    border: none;
    color: #FEFEFE;
    padding: 0.8em 0;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
    border-radius: 55px;
    /* // -webkit-box-shadow: 0px 3px 21px rgba(255, 100, 0, 0.7);
    //         box-shadow: 0px 3px 21px rgba(255, 100, 0, 0.7); */
    background: --webkit-gradient(linear, left top, right top, from(#F98340), to(#F71442));
    background: linear-gradient(to right, #F98340, #F71442);
    background-size: 100%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.social {
    margin-top: 1.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social button {
    width: 50%;
    margin: 0 8px;
    padding: 10px 0;
    font-size: 0.9em;
    border: none;
    border-radius: 34px;
    -webkit-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.social #facebook {
    background: #1F4788;
    background: --webkit-gradient(linear, left top, right top, from(#4B77BE), to(#1F4788));
    background: linear-gradient(to right, #4B77BE, #1F4788);
    background-size: 100%;
}

.social #google {
    background: #FEFEFE;
    background: --webkit-gradient(linear, left top, right top, from(#FEFEFE), to(#f1f1f1));
    background: linear-gradient(to right, #FEFEFE, #f1f1f1);
    background-size: 100%;
    color: #F71442;
}

p {
    color: white;
    text-align: center;
}

p a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}