/* #sidebarItem:hover {
  border: 1px solid #fff;
  opacity: 0.5;
  border-radius: 7px;
}

.sidebar {
  position: absolute;
  top: 50;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 100;
  transition: 0.4s ease;
}

.sidebar-close {
  width: 0;
  left: 0;
  position: absolute;
} */


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.nav-item .nav-link,
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #354052;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #313b4c;
  color: #adb5bd;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item .nav-link {
  /*color: #ced4da;*/
  color: #adb5bd;
  /* font-weight: 300; */
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}

.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header>button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}