.content {
    padding: 20px;
    margin-left: 0;
    height: 100vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .content.is-open {
        margin-left: 100%;
        display: none;
        transition: all 0.5s;
    }

    .sidebar.is-open {
        min-width: 100%;
        max-width: 100%;
        margin-left: 0;
        transition: all 0.5s, height 0s;
        height: 100vh !important;
    }

    .sidebar.is-open>.sidebar-header button {
        display: block;
    }

    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }

}