.loginContainer {
    background-image: url('../../../assets/image/frontend4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.card{
    align-items: inherit !important;
    box-shadow: none !important;
}