.App {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
    background: aliceblue;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
    /*background: #fafafa;*/
    background-color: #f5f9fc;
}
p{
    color:black
}
h2{
    color:black
}
